:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body {
  margin: 0;
}

a {
  display: block;
}

header {
  margin: 0 1rem;
  margin-bottom: 3rem;
}

header > div {
  display: flex;
  justify-content: space-between;
}

header > div > div {
  display: flex;
  align-items: center;
  gap: 1em;
}

nav ul {
  display: flex;
  gap: 5px;
  list-style-type: none;
}

nav ul li:not(:last-child)::after {
  content: " /";
}

h1,
.subtitle {
  text-align: center;
}

.subtitle{
  font-size: large;
  color: lightslategrey;
}

/* Main */

main > div {
  border-top: 1px solid;
  border-bottom: 1px solid;
  display: flex;
}

main > div > :is(section, div) {
  width: 33%;
}

main > div :is(p, h2, a, ul) {
  padding: 10px 15px;
  margin: 0;
}

main > div ul {
  margin: 0 25px;
}

#top p {
  border-bottom: 1px solid;
}

#top p:last-child {
  border-bottom: none;
}

#mid {
  border: 1px solid;
  border-top: none;
  border-bottom: none;
}

#mid section h2 {
  margin-top: 0;
}

#mid > section:first-child {
  border-bottom: 1px solid;
  padding-bottom: 15px;
}

main > section {
  padding: 0 15px;
}

#articles {
  display: flex;
  text-wrap: balance;
  justify-content: space-between;
}

#articles article {
  border: 1px solid;
  border-radius: 25px;
  width: 20%;
  padding: 1em;
}

blockquote {
  margin: 0 auto;
}

figcaption {
  color: lightslategray;
}

footer {
  margin-top: 5rem;
}

footer p {
  font-size: 2em;
  text-align: center;
}
